<div class="well alert-danger trash ui-droppable" data-bind="visible: editing()" style="text-align: center"><i class="icon icon-trash pull-left"></i>Drag Panel Outside of Tab to Remove<i class="icon icon-trash pull-right"></i></div>
<div class="grid-stack" gs-static="true"></div>
<div class="row-fluid"><button class="btn-mini pull-right" data-bind="click: toggleEditMode"><i class="icon icon-pencil" data-bind="css: {'icon-spin': editing()}"></i></button></div>
