<div class="grid-stack" gs-static="true"></div>
<div class="well alert-info trash ui-droppable" data-bind="visible: !settings.settings.plugins.consolidatedtabs.gridstack().length && !editing() && !saving()" style="text-align: center"><i class="icon icon-gear pull-left"></i>Open the plugin's settings for additional options by clicking <a href="#" data-bind="click: function(){ settings.show('#settings_plugin_consolidatedtabs'); }">here</a>. Click the <i class="icon icon-pencil"></i> button in the bottom right of this tab to enable edit mode.<i class="icon icon-gear pull-right"></i></div>
<div class="row-fluid" data-bind="visible: saving()"><div class="well alert-success" style="text-align: center"><i class="icon icon-spinner icon-spin pull-left"></i>Please Wait Saving Changes<i class="icon icon-spinner icon-spin pull-right"></i></div></div>
<div class="row-fluid" data-bind="visible: editing()"><div class="well alert-danger span4" style="text-align: center"><i class="icon icon-trash pull-left"></i>Drag panels outside of tab to remove</div><div class="well alert span4" style="text-align: center; padding-bottom: 19px; padding-top: 19px;"><i class="icon icon-refresh pull-left"></i>Reload the page to cancel changes<i class="icon icon-refresh pull-right"></i></div><div class="well alert-info span4" style="text-align: center">Click save icon to finalize changes<a href="#" class="pull-right" data-bind="click: toggleEditMode"><i class="icon icon-save"></i></a></div></div>
<div class="row-fluid" data-bind="visible: !editing() && !saving()"><button class="btn-mini pull-right" data-bind="click: toggleEditMode"><i class="icon icon-pencil"></i></button></div>
