<h3>Consolidated Tabs Settings</h3>
<form class="form-horizontal" id="consolidatedtabs_settings_form">
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.remove_title" /> {{ _('Hide Tab Name if All Tabs are Consolidated') }}
			</label>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.resize_navbar" /> {{ _('Resize Navbar') }}
			</label>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.full_width" /> {{ _('Use Full Width of Browser') }}
			</label>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.hide_instructions" /> {{ _('Don\'t Show Instructions') }}
			</label>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.hide_edit_button" /> {{ _('Don\'t Show Edit Button') }}
			</label>
		</div>
	</div>
</form>
