<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.2.0/dist/gridstack.min.css" />
<script src="https://cdn.jsdelivr.net/npm/gridstack@1.2.0/dist/gridstack.all.js"> </script>
<div class="row-fluid" style="min-height: 600px;">
    <div class="container-fluid">
        <div class="grid-stack"></div>
    </div>
</div>
