<div id="consolidatedtabs_edit_overlay" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Consolidated Tabs Instructions</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid"><i class="icon icon-plus"></i> Click the plus sign next to tab name to add to consolidated tab</div>
        <div class="row-fluid"><i class="icon icon-move"></i> Use your mouse to drag panels around</div>
        <div class="row-fluid"><i class="icon icon-trash"></i> Drag panels outside of tab for more than 3 seconds to remove</div>
        <div class="row-fluid"><i class="icon icon-resize-full"></i> Resize panels using the bottom right corner</div>
        <div class="row-fluid"><i class="icon icon-refresh"></i> Reload the page to cancel pending changes</div>
        <div class="row-fluid"><i class="icon icon-save"></i> Click save button in the navbar to finalize changes</div>
        <div class="row-fluid"><i class="icon icon-gear"></i> Hide these instructions and configure other options in the plugin's settings</div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ _('Ok') }}</a>
    </div>
</div>
