<form class="form-horizontal" id="consolidatedtabs_settings_form">
	<div class="row-fluid"></div>
	<div class="row-fluid">
		<div class="panel" style="min-height: 50px;">
            <div class="panel-heading">
                <h5 style="margin: 0;"><u>{{ _('Consolidated Tabs Order') }}</u></h5>
                <span class="row-fluid label label-important">It is highly recommended to clear positions below if you change the order of these tabs.</span>
            </div>
            <div class="row-fluid panel-body" data-bind="sortable: { data: settings.settings.plugins.consolidatedtabs.tab_order, options: { cancel: '.unsortable', handle: '.move_tab'} }">
                <div class="span4 panel">
                    <div class="panel-heading">
                        <span class="btn btn-mini icon-move move_tab" style="display: inline-block;"></span>
                        <span style="margin-left: 5px; display: inline-block;" data-bind="text: name"> </span>
                    </div>
                    <div class="panel-body">
                        <span class="btn btn-mini btn-danger icon-trash" style="display: inline-block; float: right" data-bind="click: $root.removeTab"></span>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="row-fluid" style="margin-top: 20px;">Hold down the shift key and click a panel to activate it for dragging and resizing on the consolidated tab.<br/>Check these <a href="https://github.com/jneilliii/OctoPrint-ConsolidatedTabs#Tips" target="_blank">Tips</a> for additional information.</div>
	<div class="row-fluid" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="panel" style="min-height: 50px;">
            <div class="panel-heading">
                <h5 style="margin: 0;"><u>{{ _('Unconsolidated Tabs') }}</u></h5>
                <span class="row-fluid label label-info">Use the plus signs below to add tabs to the consolidated tab above.</span>
            </div>
            <div class="row-fluid panel-body" data-bind="sortable: { data: unassignedTabs, options: { cancel: '.unsortable', handle: '.move_tab', axis:'y'} }">
                <div class="row-fluid" style="margin-bottom: 5px;">
                    <div class="span1 btn-group" style="text-align: center;"><button class="btn btn-mini icon-plus" data-bind="click: $root.addTab"></button></div>
                    <div class="span11" data-bind="text: name"></div>
                </div>
            </div>
        </div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.drag_snap" /> {{ _('Snap to Edges While Dragging') }}
			</label>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.resize_navbar" /> {{ _('Resize Navbar') }}
			</label>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.remove_title, disable: unassignedTabs().length > 0" /> {{ _('Remove Tab Name') }}
			</label>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid" style="padding-top: 3px;">
			<label class="checkbox">
			<input type="checkbox" data-bind="checked: settings.settings.plugins.consolidatedtabs.full_width" /> {{ _('Use Full Width of Browser') }}
			</label>
		</div>
	</div>
    <div class="row-fluid"><h5><u>{{ _('Clear All Positions and Sizes') }}</u></h5></div>
    <div class="row-fluid"><button class="btn" data-bind="click: resetPositions, disable: resetting_positions"><i class="fa fa-spinner fa-spin" style="margin-right: 10px; display: none;" data-bind="visible: resetting_positions()"></i>{{ _('Clear Positions') }}</button> <button class="btn" data-bind="click: resetSizes, disable: resetting_sizes"><i class="fa fa-spinner fa-spin" style="margin-right: 10px; display: none;" data-bind="visible: resetting_sizes()"></i>{{ _('Clear Sizes') }}</button></div>
</form>
